cabecalho{
    position: sticky;
    top : 20px;
}

.imagens{
    /*background-color: rgb(25, 26, 25);*/
    max-width: 100%;
    display:block;
}

.videoFilme{
    max-width: 100%;
    display:block;
}

h1{
    text-align: center;
    color:rgb(246, 253, 253);
    margin-top:100px;
}

h2{
    text-align: center;
    color:rgb(242, 248, 248);
}


/*.videoAvatar iframe{
    display: block;
    margin-top: 10px;
    border-radius: 3%;
    flex-wrap: wrap;
    height: 400px;
    margin-right: 90px;
}




/*flexbox*/
.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;

}

.flex > div{
    flex:1 1 200px;
    margin: 10px;
    background-color: rgb(21, 21, 21);
    padding: 1px;
    margin-top: 10px;
}
div{
    display: inline-block;

}




