* {
    box-sizing: border-box;
    /*modifica a maneira de exibir o tamanho de uma caixa. define comoas dimensoes de um elemento são calculadas: devem incluir preenchimento das bordas ou não*/
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 0;
    display: flexbox;

}

header {
    height: 43%;
    padding-top: 1%;
    /*width: 100%;
    position: relative;
    height: 100%;
    border: 1px  #000000;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 25px -8px #000;*/
}

header::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../imagens/Avatar\ o\ caminho\ das\ aguas\ poster.png") no-repeat center center/cover;
    background-size: 100%;
    opacity: .7;
    z-index: -1;
}

header::after {
    content: '';
    width: 1%;
    height: 1%;
    background-size: 1%;

}

header nav {
    width: 100%;
    height: 10%;
    border: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header nav logo {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

header nav .logo img {
    width: 180px;
    padding-top: 50px;

}

header nav .menu a {
    display: block;
    align-items: center;
    justify-content: center;
    list-style: none;
    float: left;
    margin-left: 12px;
    padding: 3px;
}

.logo {
    width: 450px;
}

header {
    display: block;
    padding-top: 0px;
}

header nav .search_user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 19%;
    padding-right: 13%;
}

header nav .search_user input {
    padding: 12px 13px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: rgb(255, 255, 255, .3);
    color: wheat;
    margin-right: 10px;
}

header nav .search_user input::placeholder {
    color: #fff;
}

.menu {
    padding-top: 3%;
    width: 50%;
    text-align: center;
    float: right;
    margin-left: 112px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

.intro {
    text-align: center;
}
/*
.colEsq {
    float: left;
    width: 75%;
    padding-top: 20px;

}

.Filme1 {
    margin-top: -1px;
    margin-left: 30px;
}

.h2Filme2 {
    color: rgb(255, 255, 255);
}
*/
h2 {
    color: azure;
}

h4 {
    color: azure;
}

h3 {
    color: rgb(255, 255, 255);
}

p {
    color: azure;
}

.videoAvatar iframe {
    display: block;
    margin-top: 10px;
    border-radius: 3%;
    flex-wrap: wrap;
    height: 400px;
    margin-right: 90px;
}

@media screen and (max-wdth: 800px) {

    .colDir,
    .colEsq {
        width: 100%;
        padding: 0%;
    }
}

@media screen and (max-wdth: 800px) {
    .topnav a {
        float: none;
        padding: 0%;
    }
}

.footer {
    padding: 20px;
    text-align: left;
}

.p {
    text-align: right;
    color: #000;
}

#link-topo {
    text-decoration: none;
    color: white;
    background-color: rgb(40, 37, 38);
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;
}

footer dt {
    font-weight: bold;
}

footer dd {
    margin-left: 0;

}

footer p {
    text-align: right;
    font-weight: bold;
    font-size: 25px;

}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #ccc;
    margin-top: 20px;
}

footer dl {
    text-align: left;
}

/*grid*/

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

.grid>div {
    margin-top: -900;

}

.AvatarSinop {
    color: azure;
    margin-top: 50px;
    margin-right: 700px;
    margin-left: 0px;
    flex-wrap: wrap;
}

.ElencoAvatar {
    color: azure;
    margin-top: -130px;
    margin-right: 10px;
    margin-left: 700px;
    flex-wrap: wrap;

}

/*flex*/
.flex {
    display: flex;
    /*deixa as imagens no eixo  X*/
    flex-wrap: wrap;
    margin: 0 auto;
}

.p {
    text-align: center;
    flex-wrap: wrap;
    margin-left: 50px;

}

.h {
    text-decoration: none;
    margin-right: 3%;
    flex-wrap: wrap;
    color: #fff;
    margin-left: 60px;

}

.flex>div {
    flex: 1 1 250px;
    margin: 11px;
    flex-wrap: wrap;
}

.flex img {
    border-radius: 12px;
    margin-left: 90px;
    width: 280px;
}

.flex h2 {
    text-align: center;
}

h1 {
    color: #fff;
    text-align: center;
    margin: 100px;
}

.h {
    margin-left: -200px;
}

h3 {
    text-align: center;
}

p {
    margin-left: 40px;
    text-align: center;
}