* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mapBox iframe{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: #262626;
}

.mapBox {
    width: 1326px;
    height: 500px;
    background: #fff; 
   
}

.mapBox iframe {
    width: 100%;
    height: 100%;
    
}

/* 
iframe {
    position: fixed;
    
}  */